.dropdown-icon {
  width: 35px;
  cursor: pointer;
}
.dropdown-icon:hover {
  color: #e3f9ff;
  transition: 0.3s;
}
.active-dropdown {
  color: #e3f9ff;
}
.dropdown {
  position: relative;
  margin: 0px 5px;
}
.dropdown-menu-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.dropdown-menu {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #dadada;
  width: 140px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px;
  top: 7px;
}
.dropdown-menu-left {
  left: 0;
}
.dropdown-menu-right {
  right: 0;
}
.dropdown-menu-caret {
  height: 0;
  position: absolute;
  left: 5px;
  width: 0;
  z-index: 2;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #dadada;
}
.dropdown-menu-item {
  padding: 5px;
}
.dropdown-menu-item:hover {
  cursor: pointer;
  color: #e3f9ff;
}
.first-dropdown-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.last-dropdown-item {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.user-dropdown {
  width: 310px;
  padding: 5px;
}
.ari-ui-form {
  display: flex;
}
.ari-ui-form .ari-ui-form-item {
  margin-right: 0px;
}
.ari-ui-form-rows {
  flex-direction: column;
}
.ari-ui-form-row {
  display: flex;
  flex-wrap: wrap;
}
.ari-ui-form-row > * {
  margin-right: 16px !important;
}
.ari-ui-form-columns {
  flex-wrap: wrap;
}
.ari-ui-form-column {
  margin-right: 16px;
  flex: 1;
}
.ari-ui-form-last-column {
  margin-right: 0px;
}
.ari-ui-btn {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.ari-ui-btn:hover {
  box-shadow: 0px 0px 3px 1px #12125e;
}
.ari-ui-btn:active {
  animation-name: button-clicked;
  animation-duration: 0.3s;
}
.ari-ui-btn-default {
  background-color: white;
  color: #12125e;
}
.ari-ui-btn-primary {
  background-color: #12125e;
  color: #e3f9ff;
}
.ari-ui-btn-danger {
  background-color: #bf0000;
  color: #e3f9ff;
}
.ari-ui-btn-disabled {
  background-color: #dadada;
  color: #e4e4e4;
  cursor: not-allowed;
}
.ari-ui-btn-disabled:hover {
  box-shadow: none;
}
.ari-ui-btn-rounded-edge {
  border-radius: calc(30px / 2);
}
@keyframes button-clicked {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ari-ui-calendar-container {
  display: flex;
  flex-direction: column;
  background-color: #12125e;
  color: #e3f9ff;
  border-radius: 3px;
  padding: 5px;
}
.ari-ui-calendar-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.ari-ui-calendar-navigation-arrow {
  cursor: pointer;
  transition: 0.3s;
}
.ari-ui-calendar-navigation-arrow:hover {
  color: #dadada;
}
.ari-ui-calendar-body {
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 5fr));
  justify-items: center;
}
.ari-ui-calendar-cell-container {
  width: 100%;
  text-align: right;
  border: 1px solid #dadada;
  height: 60px;
  background-color: white;
  color: #12125e;
}
.ari-ui-calendar-cell-active {
  transition: 0.3s;
  cursor: pointer;
}
.ari-ui-calendar-cell-active:hover {
  background-color: #e3f9ff;
}
.ari-ui-calendar-cell-selected {
  background: #e3f9ff;
}
.ari-ui-calendar-date-cell {
  margin-right: 5px;
}
.ari-ui-calendar-date-cell-inactive {
  color: #dadada;
}
.ari-ui-calendar-event {
  text-align: left;
  font-size: 12px;
  padding-left: 5px;
  transition: 0.3s;
}
.ari-ui-calendar-event:hover {
  color: #dadada;
}
.ari-ui-card {
  min-width: 150px;
  height: fit-content;
}
.ari-ui-card-bordered {
  box-shadow: 0px 0px 1px 1px #dadada;
}
.ari-ui-small-padding {
  padding: 5px;
}
.ari-ui-checkbox {
  height: 18px;
  width: 18px;
  appearance: none;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  border: 1px solid #12125e;
  font-size: 14px;
  transition: 0.3s;
}
.ari-ui-checkbox:checked {
  background-color: #e9ecee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.ari-ui-checkbox:active,
.ari-ui-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.ari-ui-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #12125e;
}
.ari-ui-checkbox:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 1px #12125e;
  border: 1px solid #12125e;
  font-size: 14px;
  transition: 0.3s;
}
.ari-ui-flex-column {
  display: flex;
  flex-direction: column;
}
.ari-ui-flex-column > * {
  margin-bottom: 16px !important;
}
.ari-ui-divider {
  background-color: #dadada;
}
.ari-ui-divider-vertical {
  width: 1px;
  height: 100%;
}
.ari-ui-divider-horizontal {
  width: 100%;
  height: 1px;
}
.ari-ui-input-container {
  display: flex;
  flex-grow: 1;
  height: 32px;
  position: relative;
}
.ari-ui-input {
  border: 1px solid #12125e;
  font-size: 14px;
  transition: 0.3s;
  padding-left: 12px;
  flex-grow: 1;
  border-radius: 15px;
}
.ari-ui-input:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 1px #12125e;
}
.ari-ui-input-suffix {
  position: absolute;
  right: 12px;
  font-size: 20px;
  color: #12125e;
  top: calc(50% - 10px);
}
.loading-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-mask .loading-dot {
  height: 14px;
  width: 14px;
  border-radius: calc(14px / 2);
  background-color: #12125e;
  margin: 0px 4px;
  animation-name: load;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
.loading-mask .loading-dot-inner {
  animation-delay: 0.4s;
}
@keyframes load {
  0% {
    height: 14px;
    width: 14px;
    border-radius: calc(14px / 2);
  }
  50% {
    height: 20px;
    width: 20px;
    border-radius: 10px;
  }
  100% {
    height: 14px;
    width: 14px;
    border-radius: calc(14px / 2);
  }
}
.ari-ui-modal-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.ari-ui-modal-overlay {
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(80, 80, 80, 0.4);
}
.ari-ui-modal-dialog {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.ari-ui-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2000;
  width: 80vw;
  height: 50vh;
  background: white;
  box-shadow: 0px 0px 5px 1px #6b4e42;
  border-radius: 10px;
  animation-name: modal-appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.ari-ui-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.ari-ui-modal-title {
  font-size: 24px;
}
.ari-ui-modal-x {
  transition: 0.3s;
  color: #b1acac;
}
.ari-ui-modal-x:hover {
  background-color: #dadada;
  border-radius: 10px;
}
.ari-ui-modal-content {
  padding: 10px 20px 10px 20px;
  flex: 1;
}
.ari-ui-modal-footer {
  padding: 10px 20px 10px 20px;
}
@keyframes modal-appear {
  0% {
    transform: translateY(-50vh);
  }
  40% {
    transform: translateY(10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.ari-ui-flex-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.ari-ui-flex-row > * {
  margin-right: 16px;
  margin-bottom: 0 !important;
}
.ari-ui-dropdown {
  position: absolute;
  z-index: 99;
  margin-top: 5px;
  overflow: auto;
  background-color: white;
  box-shadow: 0px 0px 3px 1px #dadada;
  border-radius: 5px;
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.ari-ui-dropdown-choice {
  display: flex;
  align-items: center;
  color: #12125e;
  cursor: pointer;
  font-size: 12px;
}
.ari-ui-dropdown-choice-active {
  background-color: #e3f9ff;
}
.ari-ui-select-container {
  z-index: 100;
}
.ari-ui-non-searchable-select-input .ari-ui-input {
  cursor: pointer;
}
.ari-ui-select-caret {
  cursor: pointer;
}
.ari-ui-select-caret-open {
  animation-name: open-caret;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.ari-ui-select-caret-closed {
  animation-name: close-caret;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes open-caret {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
@keyframes close-caret {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.ari-ui-text-area-container {
  display: flex;
}
.ari-ui-text-area {
  border: 1px solid #12125e;
  font-size: 14px;
  transition: 0.3s;
  padding-left: 12px;
  border-radius: 15px 15px 0px 15px;
  padding-top: 12px;
  flex: 1;
}
.ari-ui-text-area:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 1px #12125e;
}
.ari-ui-text-area-no-resize {
  resize: none;
  border-radius: 15px;
}
.ari-ui-form-item {
  display: flex;
  margin-bottom: 16px;
}
.ari-ui-form-item-label {
  margin-bottom: 4px;
  font-size: 14px;
}
.ari-ui-form-item-with-label-left {
  align-items: center;
}
.ari-ui-form-item-with-label-top {
  flex-direction: column;
}
.ari-ui-form-item-error {
  position: absolute;
  margin: 0;
  padding-left: 12px;
  font-size: 12px;
  color: #bf0000;
  z-index: 5;
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
#auth-form {
  padding: 10px;
  height: 100%;
  background-image: url(scorecard.jpg);
  background-size: cover;
  text-shadow: 0px 1px 1px #dadada;
  color: #12125e;
}
#auth-form-footer {
  display: flex;
  flex-wrap: wrap;
}
#auth-form-submit-button {
  margin-right: 5px;
}
#auth-form-footer-redirect {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
}
#auth-form-footer-redirect:hover {
  color: #e97373;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#home {
  height: 100%;
}
#home-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes loading {
  0% {
    height: 200px;
  }
  50% {
    height: 250px;
  }
  100% {
    height: 200px;
  }
}
.loading-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loading-image {
  animation: loading 1s infinite linear;
}
#league-portal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #12125e;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  height: 100vh;
}
.hoverable-text {
  cursor: pointer;
  color: #e3f9ff;
}
#header {
  display: flex;
  align-items: center;
  background-color: #dadada;
  box-shadow: 0px 0px 1px 1px;
  margin-bottom: 5px;
}
#header-text {
  font-size: 24px;
}
#header-text:hover {
  cursor: pointer;
  color: #e3f9ff;
}
.ari-ui-padded-content {
  padding: 10px 20px 10px 20px;
}
.ari-ui-flow-right {
  display: flex;
  justify-content: flex-end;
}
.ari-ui-form-field {
  border: 1px solid #12125e;
  font-size: 14px;
  transition: 0.3s;
}
.ari-ui-text-box {
  border: 1px solid #12125e;
  font-size: 14px;
  transition: 0.3s;
  padding-left: 12px;
}
.ari-ui-text-box-focused {
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 1px #12125e;
}
.ari-ui-slide-down {
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
@keyframes slide-down {
  from {
    transform: translateY(-32px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.ari-ui-justify-center {
  justify-content: center;
}
.ari-ui-justify-start {
  justify-content: flex-start;
}
.ari-ui-justify-end {
  justify-content: flex-end;
}
.ari-ui-justify-even {
  justify-content: space-evenly;
}
.ari-ui-justify-between {
  justify-content: space-between;
}
.ari-ui-justify-around {
  justify-content: space-around;
}
.ari-ui-align-center {
  align-items: center;
}
.ari-ui-align-start {
  align-items: flex-start;
}
.ari-ui-align-end {
  align-items: flex-end;
}
.ari-ui-align-even {
  align-items: space-evenly;
}
.ari-ui-align-between {
  align-items: space-between;
}
.ari-ui-align-around {
  align-items: space-around;
}
.ari-ui-wrap {
  flex-wrap: wrap;
}
.ari-ui-header-medium {
  font-size: 20px;
}
.column {
  display: flex;
  flex-direction: column;
}
.page-header {
  font-size: 30px;
}
