@import './components/Auth/Auth.less';
@import './components/Dropdown/Dropdown.less';
@import './components/Form/Form.less';
@import './components/Home/Home.less';
@import './components/Button/Button.less';
@import './components/Calendar/Calendar.less';
@import './components/Card/Card.less';
@import './components/Checkbox/Checkbox.less';
@import './components/Column/Column.less';
@import './components/Divider/Divider.less';
@import './components/Form/Form.less';
@import './components/Input/Input.less';
@import './components/Modal/Modal.less';
@import './components/Row//Row.less';
@import './components/Select/Select.less';
@import './components/TextArea/TextArea.less';
@import './components/hocs/index.less';
@import './mixins.less';

@primary-color: #000075;
@secondary-color: #a2a2a2;
@tertiary-color: #b0d8fd;
@error-color: #bf0000;
@disabled-text-color: #e4e4e4;
@ari-ui-text-box-padding: 12px;
@row-margin: 16px;

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  display: flex;
  align-items: center;
  background-color: @secondary-color;
  box-shadow: 0px 0px 1px 1px;
  margin-bottom: 5px;
}

#header-text {
  font-size: 24px;
}

.ari-ui-padded-content {
  padding: 10px 20px 10px 20px;
}

.ari-ui-flow-right {
  display: flex;
  justify-content: flex-end;
}

.ari-ui-form-field {
  border: 1px solid @primary-color;
  font-size: 14px;
  transition: 0.3s;
}

.ari-ui-text-box {
  .ari-ui-form-field();
  padding-left: @ari-ui-text-box-padding;
}

.ari-ui-text-box-focused {
  outline: none;
  border: none;
  .box-shadow()
}

.ari-ui-slide-down {
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes slide-down {
  from { transform: translateY(-32px); opacity: 0 };
  to { transform: translateY(0px); opacity: 1 };
}

.ari-ui-justify-center {
  justify-content: center;
}

.ari-ui-justify-start {
  justify-content: flex-start;
}

.ari-ui-justify-end {
  justify-content: flex-end;
}

.ari-ui-justify-even {
  justify-content: space-evenly;
}

.ari-ui-justify-between {
  justify-content: space-between;
}

.ari-ui-justify-around {
  justify-content: space-around;
}

.ari-ui-align-center {
  align-items: center;
}

.ari-ui-align-start {
  align-items: flex-start;
}

.ari-ui-align-end {
  align-items: flex-end;
}

.ari-ui-align-even {
  align-items: space-evenly;
}

.ari-ui-align-between {
  align-items: space-between;
}

.ari-ui-align-around {
  align-items: space-around;
}

.ari-ui-wrap {
  flex-wrap: wrap;
}

.ari-ui-header-medium {
  font-size: 20px;
}