#auth-form {
  padding: 10px;
}

#auth-form-footer {
  display: flex;
  flex-wrap: wrap;
}

#auth-form-submit-button {
  margin-right: 5px;
}

#auth-form-footer-redirect {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;

  &:hover {
    color: rgb(233, 115, 115);
  }
}